<a class="user-item" href="<%- item.permalink %>">
    <%- partial('avatar', {item: item}) %>
    <div class="nickname"><%- item.title %></div>
    <% if (item.description) { %>
    <div class="description"><%- item.description %></div>
    <% } %>
</a>
