<div class="col-6 col-md-4 col-xl-2 mb-3">
    <a class="user-item" href="<%- item.permalink %>">
        <%- partial('avatar', {className: 'avatar', item: item}) %>
        <div class="nickname mt-2"><%- item.name ? item.name : item.slug %></div>
        <% if (item.description) { %>
        <div class="description mt-1"><%- item.description %></div>
        <% } %>
    </a>
</div>
