<!-- 导航 -->
<div class="nav-wrap" id="navWrap">
    <div class="container nav">
        <div><a href="/"><%= config.title %></a></div>
        <div>
            <a href="<%= config.url %>#ranking" class="nav-item mr-50">榜单背景</a>
            <a href="<%= config.url %>#standard" class="nav-item mr-50">评选标准</a>
            <a href="<%= config.url %>#detail" class="nav-item mr-50">榜单详情</a>
            <a href="https://github.com/opensourcewin" target="_blank" class="nav-item">GitHub</a>
        </div>
    </div>
</div>