<% if (slug) { %>
<h4>开发活动</h4>
<iframe width="100%" height="500" src="https://osgraph.com/graphs/developer-activity/github/<%= slug %>?user-limit=10" title="" frameborder="0"></iframe>

<h4>开源伙伴</h4>
<iframe width="100%" height="500" src="https://osgraph.com/graphs/os-partner/github/<%= slug %>?user-limit=10" title="" frameborder="0"></iframe>

<h4>开源兴趣</h4>
<iframe width="100%" height="500" src="https://osgraph.com/graphs/os-interest/github/<%= slug %>?repo-limit=5&topic-limit=3" title="" frameborder="0"></iframe>
<% } %>