<% if (github_id) { %>
<h4>开发活动</h4>
<iframe width="100%" height="500" src="https://osgraph.com/result?shareId=4&shareParams=<%= github_id %>,10&isShare=true" title="" frameborder="0"></iframe>

<h4>开源伙伴</h4>
<iframe width="100%" height="500" src="https://osgraph.com/result?shareId=5&shareParams=<%= github_id %>,10&isShare=true" title="" frameborder="0"></iframe>

<h4>开源兴趣</h4>
<iframe width="100%" height="500" src="https://osgraph.com/result?shareId=6&shareParams=<%= github_id %>,5,3&isShare=true" title="" frameborder="0"></iframe>
<% } %>