<article class="row justify-content-center">
  <p class="col-12 col-md-8">
    中国开源码力榜是由 SegmentFault 思否、开源社、腾源会、X-lab 实验室共同发起的中国开源开发者榜单。
  </p>
  <p class="col-12 col-md-8">
    OpenDigger 团队筛选出了 2021 全年 GitHub 影响力排名前 1 万的账号，并结合其协作影响力及其他信息进行排名，合作社区和广大开发者、志愿者开放协作，共同核实标注信息、排除机器人账号，甄选了排名前 99 位的中国开发者。
  </p>
  <p class="col-12 col-md-8">
    通过中国开源码力榜，我们希望开源世界的超级码丽、开源项目背后的开发者们可以被更多人知道、认识和 respect。让更多人关注开源、关注开源开发者成长。
  </p>
</article>