<div class="d-flex align-items-center justify-content-center mt-5">
  <%- image_tag('img/coin.png', {class: 'me-3', alt: 'logo-coin', width: '18',height: '22'}) %>
  <%- image_tag('img/coin.png', {class: 'me-3', alt: 'logo-coin', width: '18',height: '22'}) %>
  <%- image_tag('img/coin.png', {class: '', alt: 'logo-coin', width: '18',height: '22'}) %>
</div>