body {
  padding: 0;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 80px;
}
img {
  vertical-align: top;
}
a {
  text-decoration: none;
  color: #fff;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.header {
  padding: 180px 0 296px;
  background-image: url('https://image-static.segmentfault.com/295/377/2953772069-620debe78b024');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.header2 {
  padding: 142px 0 85px;
  background-image: url('https://image-static.segmentfault.com/312/736/3127362809-620e00014a4c5');
}
.nav-wrap {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 0;
  box-sizing: border-box;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.nav-item {
  padding: 8px 10px;
  font-weight: 500;
  font-family: PingFangSC, PingFangSC-Medium;
}
.mr-50 {
  margin-right: 50px;
}
.head-title {
  width: 52%;
} 
.slogon {
  font-size: 42px;
  color: #ffe2b2;
  margin-top: 30px;
}
.title {
  width: 462px;
  height: 77px;
  font-size: 40px;
  background-image: url('https://image-static.segmentfault.com/416/097/4160979020-620df4bad2ac3');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  line-height: 77px;
  margin: 0 auto;
} 
.list {
  width: 100%;
  padding-top: 80px;
}

.text {
  font-size: 16px;
  color: #3a3a3a;
  margin-top: 40px;
  line-height: 28px;
  display: flex;
  justify-content: center;
}

.text > * {
  max-width: 760px;
}

.user-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1006px;
  margin: 40px auto 0;
}
.user-item {
  margin-bottom: 40px;
  width: 16.6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 12px;
}
.mr-0 {
  margin-right: 0;
}
.avatar {
  flex: none;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: #d8d8d8;
}
.nickname {
  font-size: 24px;
  font-family: PingFangSC, PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  color: #3a3a3a;
  line-height: 28px;
  margin: 10px 0;
}
.description {
  font-size: 14px;
  text-align: center;
  color: #3a3a3a;
  line-height: 20px;
}
/* detail css */
.slogon2 {
  font-size: 16px;
  color: #ffffff;
  line-height: 28px;
  margin-top: 63px;
}
.head-box2 {
  display: flex;
}
.head-left2 {
  margin-right: 62px;
  padding-top: 65px;
}
.head-title2 {
  width: 79%;
}
.head-right2 {
  width: 330px;
  height: 398px;
  flex: none;
}
.detail2 {
  margin-top: 80px;
  padding-left: 68px;
  display: flex;
}

.thumbnail2 {
  flex: none;
  width: 350px;
  height: auto;
  background: #d8d8d8;
  margin-right: 62px;
}
.detail-right2 {
  max-width:  544px;
  margin-top: 30px;
  font-size: 16px;
  color: #3a3a3a;
}
.nick2 {
  font-size: 24px;
  font-family: PingFangSC, PingFangSC-Medium;
  font-weight: 500;
  margin-bottom: 40px;
}
@media (max-width: 760px) and (min-width: 53px)   {
  .header2 {
    padding: 80px 0 60px;
  }

  .container {
    padding: 0 15px;
  }
  .head-right2 {
    width: 216px;
    height: 261px;
  }
  .thumbnail2 {
    width: 220px;
  }
 
}

@media (max-width: 540px)  {
  .header2 {
    padding: 80px 0 60px;
  }
  .mr-50 {
    margin-right: 0px;
  }
  .container {
    padding: 0 15px;
  }
  .head-left2 {
    margin-right: 24px;
    padding-top: 16px;
  }
  .head-title2 {
    width: 95%;
  }
  .head-right2 {
    width: 130px;
    height: 156px;
  }
  .slogon2 {
    margin-top: 20px;
    font-size: 15px;
  }
  .detail2 {
    display: block;
  }

  .thumbnail2 {
    width: 150px;
    margin-right: 0px;
  }
  .detail-right2 {
    margin-top: 16px;
    font-size: 16px;
  }
  .nick2 {
    margin-bottom: 12px;
  }
}
/* 移动端适配 */
@media (max-width: 992px) and (min-width: 767px) {
  .user-item {
    width: 25%;
  }
}
@media (max-width: 768px) and (min-width: 539px) {
  .header {
    padding: 100px 0 200px;
  }
  .nav-wrap {
    padding: 15px 15px;
  } 
  .title {
    width: 300px;
    height: 50px;
    font-size: 26px;
    line-height: 50px;
  } 
  .user-item {
    width: 33%;
  }
}
@media (max-width: 540px)  {
  .header {
    padding: 80px 0 80px;
  }
  .container {
    padding: 0 15px;
  }
  .mr-50 {
    margin-right: 0px;
  }
  .head-title {
    width: 90%;
  }
  .slogon {
    font-size: 24px;
  }
  .list {
    padding-top: 60px;
  }
  .title {
    width: 240px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
  } 
  .user-item {
    width: 50%;
    box-sizing: border-box;
  }
}
