body {
  padding: 0;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 80px;
  color: #212529;
}
img {
  vertical-align: top;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1140px;
}
.header {
  padding-top: 104px;
  background-color:#212529;
}
.header-detail {
  padding-bottom: 64px;
}
.home-head {
  width: 100%;
  height: auto;
  flex: none;
}
#navWrap {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background-color: #212529;
}
.navbar-brand {
  font-size: 16px;
}
#navWrap .nav-link {
  color: #fff;
  white-space: nowrap;
}

.nav-item {
  list-style: none;
}
.nav-link {
  padding: 0.5rem !important;
}
.main-title {
  font-family: PingFangSC-Medium;
  font-weight: 500;
  font-size: 40px;
  color: #F34850;
  text-align: center;
  line-height: 48px;
}
.list {
  width: 100%;
  padding-top: 50px;
}
.text {
  font-family: HelveticaNeue;
  line-height: 28px;
}
.user-item {
  width: 100%;
  min-height: 160px;
  padding-top: 1.5rem;
  box-sizing: border-box;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background: #F8F9FA;
}
.nickname {
  font-family: HelveticaNeue-Medium;
  font-weight: 500;
  text-align: center;
  color: #212529;
  line-height: 28px;
}
.description {
  height: 42px;
  font-size: 14px;
  text-align: center;
  color: #6C757D;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.subtitle {
  font-size: 28px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
}
.icons-wrap {
  max-width: 1090px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 24px auto 0;
}
.icons, .icons2 {
  width: auto;
  margin-right: 1rem;
  height: 80px;
}
.icons:nth-child(3n + 1) {
  margin-right: 0;
}
.icons:nth-child(1) {
  margin-right: 1rem;
}
.icons2:nth-child(4n + 1) {
  margin-right: 0;
}
.icons2:nth-child(1) {
  margin-right: 1rem;
}
.page-footer {
  font-family: HelveticaNeue;
  color: #6C757D;
  text-align: center;
  line-height: 24px;
  padding: 4rem 0 2rem;
}
.avatar {
  width: 64px;
  height: 64px;
}
/* detail css */
.detail-avatar {
  width: 160px;
  height: 160px;
}
.detail-nick {
  font-family: HelveticaNeue-Medium;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  word-break: break-word;
  word-wrap:break-word
}
.detail-list > li {
  list-style: none;
}
.contribute img {
  max-width: 100%;
  height: auto;
}
.contribute br {
  display: none;
}
.contribute a > img {
  margin-right: 3px;
}

/* 移动端适配 */
@media (max-width: 540px)  {
  .sm-scroll {
    overflow-x: scroll;
    padding-left: 17em;
  }
  .main-title {
    font-size: 28px;
  }
  .subtitle {
    font-size: 18px;
  }
  .text2 {
    padding: 0 0 0 15px;
  }
  .icons {
    margin-right: 8px;
    height: 48px;
  }
  .icons2 {
    height: 48px;
    margin-right: 16px;
  }
  .icons:nth-child(even) {
    margin-right: 0;
  }
  .icons:nth-child(1) {
    margin-right: 8px;
  }
  .detail-nick {
    font-size: 24px;
    line-height: 1.5;
  }
  .ranking {
    font-size: 1rem!important;
  }
  .contribute li > a {
    word-wrap: break-word;
  }
}